event-logging-transformer-main/pipelines/generated/event-logging-v4/alert-complex-type.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:MultiObjectComplexType="http://event-logging/multi-object-complex-type"
           xmlns:AlertSeveritySimpleType="http://event-logging/alert-severity-simple-type"
           xmlns:AntiMalwareThreatComplexType="http://event-logging/anti-malware-threat-complex-type"
           xmlns:NetworkComplexType="http://event-logging/network-complex-type"
           xmlns:NetworkLocationComplexType="http://event-logging/network-location-complex-type"
           xmlns:AlertPrioritySimpleType="http://event-logging/alert-priority-simple-type"
           xmlns:DataComplexType="http://event-logging/data-complex-type"
           xmlns:AlertTypeSimpleType="http://event-logging/alert-type-simple-type"
           xmlns:ChangeActionSimpleType="http://event-logging/change-action-simple-type"
           elementFormDefault="qualified"
           id="alert-complex-type-v4.0.2"
           targetNamespace="http://event-logging/alert-complex-type"
           version="4.0.2">
   <xs:import namespace="http://event-logging/alert-priority-simple-type"
              schemaLocation="alert-priority-simple-type.xsd"/>
   <xs:import namespace="http://event-logging/alert-severity-simple-type"
              schemaLocation="alert-severity-simple-type.xsd"/>
   <xs:import namespace="http://event-logging/alert-type-simple-type"
              schemaLocation="alert-type-simple-type.xsd"/>
   <xs:import namespace="http://event-logging/anti-malware-threat-complex-type"
              schemaLocation="anti-malware-threat-complex-type.xsd"/>
   <xs:import namespace="http://event-logging/change-action-simple-type"
              schemaLocation="change-action-simple-type.xsd"/>
   <xs:import namespace="http://event-logging/data-complex-type"
              schemaLocation="data-complex-type.xsd"/>
   <xs:import namespace="http://event-logging/multi-object-complex-type"
              schemaLocation="multi-object-complex-type.xsd"/>
   <xs:import namespace="http://event-logging/network-complex-type"
              schemaLocation="network-complex-type.xsd"/>
   <xs:import namespace="http://event-logging/network-location-complex-type"
              schemaLocation="network-location-complex-type.xsd"/>
   <xs:complexType name="AlertComplexType">
      <xs:annotation>
         <xs:documentation>Type that describes and alert of some kind, e.g. an alert generated by an intrusion detection system, malware scanner, virus scanner, etc.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Type" type="AlertTypeSimpleType:AlertTypeSimpleType">
            <xs:annotation>
               <xs:documentation>The type of alert that has been fired, e.g. Error, Malware, etc.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0"
                     name="Severity"
                     type="AlertSeveritySimpleType:AlertSeveritySimpleType">
            <xs:annotation>
               <xs:documentation>The severity of the alert.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0"
                     name="Priority"
                     type="AlertPrioritySimpleType:AlertPrioritySimpleType">
            <xs:annotation>
               <xs:documentation>The priority of the alert.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Subject" type="xs:string">
            <xs:annotation>
               <xs:documentation>The name of the event or rule that fired or vulnerability or malware that has been scanned for or found.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Description" type="xs:string">
            <xs:annotation>
               <xs:documentation>The descriptive message for the alert.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="IDS">
            <xs:annotation>
               <xs:documentation>Information about an IDS generated event.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:annotation>
                  <xs:documentation>Information about an IDS generated event.</xs:documentation>
               </xs:annotation>
               <xs:sequence>
                  <xs:element minOccurs="0" name="Rule" type="xs:string">
                     <xs:annotation>
                        <xs:documentation>The type of IDS event or rule that fired.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0"
                              name="Source"
                              type="NetworkLocationComplexType:NetworkLocationComplexType">
                     <xs:annotation>
                        <xs:documentation>The source network device involved in the IDS event.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0"
                              name="Destination"
                              type="NetworkLocationComplexType:NetworkLocationComplexType">
                     <xs:annotation>
                        <xs:documentation>The destination network device involved in the IDS event.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0"
                              name="Payload"
                              type="MultiObjectComplexType:MultiObjectComplexType">
                     <xs:annotation>
                        <xs:documentation>Details about the payload being transmitted between the source and destination devices.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element minOccurs="0"
                     name="Malware"
                     type="AntiMalwareThreatComplexType:AntiMalwareThreatComplexType">
            <xs:annotation>
               <xs:documentation>Type that describes a threat identified by an anti-malware scanner.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0"
                     name="Network"
                     type="NetworkComplexType:NetworkComplexType">
            <xs:annotation>
               <xs:documentation>A type to describe part of a computer network or some activity on a network.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Change">
            <xs:annotation>
               <xs:documentation>Any events to do with monitoring the status of files should use this element.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:annotation>
                  <xs:documentation>Information about an IDS generated event.</xs:documentation>
               </xs:annotation>
               <xs:sequence>
                  <xs:element name="Action" type="ChangeActionSimpleType:ChangeActionSimpleType">
                     <xs:annotation>
                        <xs:documentation>The action performed by the file monitor, e.g. starting to scan files for changes, or the detection of a file change.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0"
                              name="Before"
                              type="MultiObjectComplexType:MultiObjectComplexType">
                     <xs:annotation>
                        <xs:documentation>Describes the last known state of the file before it was altered.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0"
                              name="After"
                              type="MultiObjectComplexType:MultiObjectComplexType">
                     <xs:annotation>
                        <xs:documentation>Describes the new state of the file now it has changed.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="Rule" type="xs:string">
                     <xs:annotation>
                        <xs:documentation>The file monitoring rule that was fired to generate this event.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element maxOccurs="unbounded"
                     minOccurs="0"
                     name="Data"
                     type="DataComplexType:DataComplexType">
            <xs:annotation>
               <xs:documentation>Any other event data that does not fit into a schema element but may be useful for the purpose of audit.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
 