event-logging-transformer-main/pipelines/generated/event-logging-v4/and-complex-type.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:OrComplexType="http://event-logging/or-complex-type"
           xmlns:AndComplexType="http://event-logging/and-complex-type"
           xmlns:TermComplexType="http://event-logging/term-complex-type"
           xmlns:NotComplexType="http://event-logging/not-complex-type"
           elementFormDefault="qualified"
           id="and-complex-type-v4.0.2"
           targetNamespace="http://event-logging/and-complex-type"
           version="4.0.2">
   <xs:import namespace="http://event-logging/not-complex-type"
              schemaLocation="not-complex-type.xsd"/>
   <xs:import namespace="http://event-logging/or-complex-type"
              schemaLocation="or-complex-type.xsd"/>
   <xs:import namespace="http://event-logging/term-complex-type"
              schemaLocation="term-complex-type.xsd"/>
   <xs:complexType name="AndComplexType">
      <xs:annotation>
         <xs:documentation>All of the enclosed items are to be treated as being AND together.</xs:documentation>
      </xs:annotation>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
         <xs:element minOccurs="0" name="Term" type="TermComplexType:TermComplexType">
            <xs:annotation>
               <xs:documentation>Describes a field to search and what to search for using name, condition and value, e.g. Title Contains 'Fox' or Title Equals 'The Quick Brown Fox'.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="And" type="AndComplexType:AndComplexType">
            <xs:annotation>
               <xs:documentation>All of the enclosed items are to be treated as being AND'd together.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Or" type="OrComplexType:OrComplexType">
            <xs:annotation>
               <xs:documentation>All of the enclosed items are to be treated as being OR'd together.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Not" type="NotComplexType:NotComplexType">
            <xs:annotation>
               <xs:documentation>The enclosed structure operators and terms are negated.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:choice>
   </xs:complexType>
</xs:schema>
 