event-logging-transformer-main/pipelines/generated/event-logging-v4/any-content-complex-type.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           id="any-content-complex-type-v4.0.2"
           targetNamespace="http://event-logging/any-content-complex-type"
           version="4.0.2">
   <xs:complexType mixed="true" name="AnyContentComplexType">
      <xs:annotation>
         <xs:documentation>This type is used to contain any content conforming to an agreed format/specification that is defined outside this XML Schema.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:any minOccurs="0" processContents="lax"/>
      </xs:sequence>
      <xs:attribute name="ContentType" type="xs:string">
         <xs:annotation>
            <xs:documentation>String to describe the format type and specification of the content, e.g. JSON or XML. The valid values are defined outside this XML Schema.</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Version" type="xs:string">
         <xs:annotation>
            <xs:documentation>Defines the version of data structure specification.</xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
</xs:schema>
 