event-logging-transformer-main/pipelines/generated/event-logging-v4/authenticate-outcome-complex-type.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:AuthenticateOutcomeReasonSimpleType="http://authenticate-outcome-reason-simple-type"
           xmlns:DataComplexType="http://data-complex-type"
           elementFormDefault="qualified"
           id="authenticate-outcome-complex-type-v4.0.2"
           targetNamespace="http://authenticate-outcome-complex-type"
           version="4.0.2">
   <xs:import namespace="http://authenticate-outcome-reason-simple-type"
              schemaLocation="authenticate-outcome-reason-simple-type.xsd"/>
   <xs:import namespace="http://data-complex-type"
              schemaLocation="data-complex-type.xsd"/>
   <xs:complexType name="AuthenticateOutcomeComplexType">
      <xs:annotation>
         <xs:documentation>Used to describe the outcome of an authentication event, including the reason for any failure.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="Success" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>If the outcome of an event was successful then 'true', 'false' otherwise. Can be omitted if true as this is the default. The main exception to this default would be if there were many varied Descriptions for the success criteria and such Descriptions could provide additional context to the event.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Permitted" type="xs:boolean">
            <xs:annotation>
               <xs:documentation>If an action was permitted then 'true', 'false' otherwise. Can be omitted if true as this is the default. The main exception to this default would be if there were many varied Descriptions for the success criteria and such Descriptions could provide additional context to the event.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="AuthService">
            <xs:annotation>
               <xs:documentation>A description of the authorisation service that was used to decide if the action was permitted.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:annotation>
                  <xs:documentation>A description of the authorisation service that was used to decide if the action was permitted.</xs:documentation>
               </xs:annotation>
               <xs:sequence>
                  <xs:element minOccurs="0" name="Id" type="xs:string">
                     <xs:annotation>
                        <xs:documentation>An identifier for the authorisation service, usually a URI string.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="CacheTimeout" type="xs:positiveInteger">
                     <xs:annotation>
                        <xs:documentation>The number of seconds a system is allowed to cache this authorisation before it needs to be checked again.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element minOccurs="0" name="Description" type="xs:string">
            <xs:annotation>
               <xs:documentation>Human readable text that describes the outcome.</xs:documentation>
            </xs:annotation>
         </xs:element>
               <xs:element minOccurs="0"
                     name="Reason"
                     type="AuthenticateOutcomeReasonSimpleType:AuthenticateOutcomeReasonSimpleType">
                  <xs:annotation>
                     <xs:documentation>An enumeration used to describe the reason why authentication failed.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded"
                     minOccurs="0"
                     name="Data"
                     type="DataComplexType:DataComplexType">
                  <xs:annotation>
                     <xs:documentation>Any other event data that does not fit into a schema element but may be useful for the purpose of audit.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
   </xs:complexType>
</xs:schema>
 