event-logging-transformer-main/pipelines/generated/event-logging-v4/create-complex-type.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ConfigurationComplexType="http://event-logging/configuration-complex-type"
           xmlns:DocumentComplexType="http://event-logging/document-complex-type"
           xmlns:ShortcutComplexType="http://event-logging/shortcut-complex-type"
           xmlns:EmailComplexType="http://event-logging/email-complex-type"
           xmlns:OutcomeComplexType="http://event-logging/outcome-complex-type"
           xmlns:FileComplexType="http://event-logging/file-complex-type"
           xmlns:CriteriaComplexType="http://event-logging/criteria-complex-type"
           xmlns:VoipComplexType="http://event-logging/voip-complex-type"
           xmlns:GroupChatComplexType="http://event-logging/group-chat-complex-type"
           xmlns:ResourceComplexType="http://event-logging/resource-complex-type"
           xmlns:AssociationComplexType="http://event-logging/association-complex-type"
           xmlns:ChatComplexType="http://event-logging/chat-complex-type"
           xmlns:FolderComplexType="http://event-logging/folder-complex-type"
           xmlns:ObjectComplexType="http://event-logging/object-complex-type"
           xmlns:BannerComplexType="http://event-logging/banner-complex-type"
           xmlns:DataComplexType="http://event-logging/data-complex-type"
           xmlns:SearchResultsComplexType="http://event-logging/search-results-complex-type"
           xmlns:VirtualSessionComplexType="http://event-logging/virtual-session-complex-type"
           xmlns:GroupsComplexType="http://event-logging/groups-complex-type"
           xmlns:UserComplexType="http://event-logging/user-complex-type"
           elementFormDefault="qualified"
           id="create-complex-type-v4.0.2"
           targetNamespace="http://event-logging/create-complex-type"
           version="4.0.2">
   <xs:import namespace="http://event-logging/association-complex-type"
              schemaLocation="association-complex-type.xsd"/>
   <xs:import namespace="http://event-logging/banner-complex-type"
              schemaLocation="banner-complex-type.xsd"/>
   <xs:import namespace="http://event-logging/chat-complex-type"
              schemaLocation="chat-complex-type.xsd"/>
   <xs:import namespace="http://event-logging/configuration-complex-type"
              schemaLocation="configuration-complex-type.xsd"/>
   <xs:import namespace="http://event-logging/criteria-complex-type"
              schemaLocation="criteria-complex-type.xsd"/>
   <xs:import namespace="http://event-logging/data-complex-type"
              schemaLocation="data-complex-type.xsd"/>
   <xs:import namespace="http://event-logging/document-complex-type"
              schemaLocation="document-complex-type.xsd"/>
   <xs:import namespace="http://event-logging/email-complex-type"
              schemaLocation="email-complex-type.xsd"/>
   <xs:import namespace="http://event-logging/file-complex-type"
              schemaLocation="file-complex-type.xsd"/>
   <xs:import namespace="http://event-logging/folder-complex-type"
              schemaLocation="folder-complex-type.xsd"/>
   <xs:import namespace="http://event-logging/group-chat-complex-type"
              schemaLocation="group-chat-complex-type.xsd"/>
   <xs:import namespace="http://event-logging/groups-complex-type"
              schemaLocation="groups-complex-type.xsd"/>
   <xs:import namespace="http://event-logging/object-complex-type"
              schemaLocation="object-complex-type.xsd"/>
   <xs:import namespace="http://event-logging/outcome-complex-type"
              schemaLocation="outcome-complex-type.xsd"/>
   <xs:import namespace="http://event-logging/resource-complex-type"
              schemaLocation="resource-complex-type.xsd"/>
   <xs:import namespace="http://event-logging/search-results-complex-type"
              schemaLocation="search-results-complex-type.xsd"/>
   <xs:import namespace="http://event-logging/shortcut-complex-type"
              schemaLocation="shortcut-complex-type.xsd"/>
   <xs:import namespace="http://event-logging/user-complex-type"
              schemaLocation="user-complex-type.xsd"/>
   <xs:import namespace="http://event-logging/virtual-session-complex-type"
              schemaLocation="virtual-session-complex-type.xsd"/>
   <xs:import namespace="http://event-logging/voip-complex-type"
              schemaLocation="voip-complex-type.xsd"/>
   <xs:complexType name="CreateComplexType">
      <xs:annotation>
         <xs:documentation>Describes an event action relating to creating data, files, documents, etc.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="Association" type="AssociationComplexType:AssociationComplexType">
               <xs:annotation>
                  <xs:documentation>Describes the association or link between two or more entities, e.g. the link between two web resources.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="Banner" type="BannerComplexType:BannerComplexType">
               <xs:annotation>
                  <xs:documentation>Describes a banner or message presented to a user, e.g. an acceptable use policy message shown on system login.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="Chat" type="ChatComplexType:ChatComplexType">
               <xs:annotation>
                  <xs:documentation>Describes part of a chat session between a user and one or more other users, e.g. in an instant messaging application.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="Configuration"
                        type="ConfigurationComplexType:ConfigurationComplexType">
               <xs:annotation>
                  <xs:documentation>Describes the configuration of entity, e.g. it can be used to describe the update to the configuration of a network device.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="Criteria" type="CriteriaComplexType:CriteriaComplexType">
               <xs:annotation>
                  <xs:documentation>Structure used to describe a criteria used to filter or limit the scope of something, e.g. in a search, view, update or delete event.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="Document" type="DocumentComplexType:DocumentComplexType">
               <xs:annotation>
                  <xs:documentation>Describes a document that may be stored electronically or in hard-copy form.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="Email" type="EmailComplexType:EmailComplexType">
               <xs:annotation>
                  <xs:documentation>Describes an email sent from one user to one or more recipients.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="File" type="FileComplexType:FileComplexType">
               <xs:annotation>
                  <xs:documentation>A file object, e.g. a text file on file system</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="Folder" type="FolderComplexType:FolderComplexType">
               <xs:annotation>
                  <xs:documentation>A folder object, e.g. a directory or folder on file system.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="Group" type="GroupsComplexType:GroupComplexType">
               <xs:annotation>
                  <xs:documentation>A group entity, e.g. a user group, an access control group or a named group of some kind that ties together a collection of entities/objects of some kind.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="GroupChat" type="GroupChatComplexType:GroupChatComplexType">
               <xs:annotation>
                  <xs:documentation>Describes the details of a chat event within a chat room or group.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="Object" type="ObjectComplexType:ObjectComplexType">
               <xs:annotation>
                  <xs:documentation>A generic object or entity that cannot be described using any of the other more specific object types.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="SearchResults"
                        type="SearchResultsComplexType:SearchResultsComplexType">
               <xs:annotation>
                  <xs:documentation>A set of search results from a query where the results are viewed or interacted with in a separate event to the execution of the query. E.g. for long-running queries where the results are stored for later viewing/processing. The Search schema action should be used to describe the event for the execution of the search. Query/Id or Query/Name can be used to associate the results event with the query event.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="Shortcut" type="ShortcutComplexType:ShortcutComplexType">
               <xs:annotation>
                  <xs:documentation>A shortcut to another file/object, such as a Windows Shortcut or linux symbolic link.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="User" type="UserComplexType:UserComplexType">
               <xs:annotation>
                  <xs:documentation>A user entity which may represent a person or some form of non-human processing user.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="VirtualSession"
                        type="VirtualSessionComplexType:VirtualSessionComplexType">
               <xs:annotation>
                  <xs:documentation>This is used to describe the session used when viewing another user's session, e.g. screen sharing or remote assistance type activities.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="Voip" type="VoipComplexType:VoipComplexType">
               <xs:annotation>
                  <xs:documentation>Describes a Voice Over Internet Protocol call.</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="Resource" type="ResourceComplexType:ResourceComplexType">
               <xs:annotation>
                  <xs:documentation>This is used to describe a resource within a website or web application, such as an HTML file, image file or script, along with the details of that resource such as size or response codes. It can represent both successful and failed access to the resource object.</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:choice>
         <xs:element minOccurs="0"
                     name="Outcome"
                     type="OutcomeComplexType:OutcomeComplexType">
            <xs:annotation>
               <xs:documentation>Used to determine if the action was successful. If omitted it is assumed that the event was successful and was permitted.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded"
                     minOccurs="0"
                     name="Data"
                     type="DataComplexType:DataComplexType">
            <xs:annotation>
               <xs:documentation>Any other event data that does not fit into a schema element but may be useful for the purpose of audit.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
 