event-logging-transformer-main/pipelines/generated/event-logging-v4/import-complex-type.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:MultiObjectComplexType="http://multi-object-complex-type"
           xmlns:OutcomeComplexType="http://outcome-complex-type"
           xmlns:DataComplexType="http://data-complex-type"
           elementFormDefault="qualified"
           id="import-complex-type-v4.0.2"
           targetNamespace="http://import-complex-type"
           version="4.0.2">
   <xs:import namespace="http://data-complex-type"
              schemaLocation="data-complex-type.xsd"/>
   <xs:import namespace="http://multi-object-complex-type"
              schemaLocation="multi-object-complex-type.xsd"/>
   <xs:import namespace="http://outcome-complex-type"
              schemaLocation="outcome-complex-type.xsd"/>
   <xs:complexType name="ImportComplexType">
      <xs:annotation>
         <xs:documentation>Captures data relevant to an import operation, e.g. importing a file from outside an application into the application.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0"
                     name="Source"
                     type="MultiObjectComplexType:MultiObjectComplexType">
            <xs:annotation>
               <xs:documentation>The source of the data being imported.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0"
                     name="Destination"
                     type="MultiObjectComplexType:MultiObjectComplexType">
            <xs:annotation>
               <xs:documentation>The destination for the data being imported.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0"
                     name="Outcome"
                     type="OutcomeComplexType:OutcomeComplexType">
            <xs:annotation>
               <xs:documentation>Used to determine if the import was successful. If omitted it is assumed that the import was successful and was permitted.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded"
                     minOccurs="0"
                     name="Data"
                     type="DataComplexType:DataComplexType">
            <xs:annotation>
               <xs:documentation>Any other event data that does not fit into a schema element but may be useful for the purpose of audit.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
 