event-logging-transformer-main/pipelines/generated/event-logging-v4/move-complex-type.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:MultiObjectComplexType="http://multi-object-complex-type"
           xmlns:CopyMoveOutcomeComplexType="http://copy-move-outcome-complex-type"
           xmlns:DataComplexType="http://data-complex-type"
           elementFormDefault="qualified"
           id="move-complex-type-v4.0.2"
           targetNamespace="http://move-complex-type"
           version="4.0.2">
   <xs:import namespace="http://copy-move-outcome-complex-type"
              schemaLocation="copy-move-outcome-complex-type.xsd"/>
   <xs:import namespace="http://data-complex-type"
              schemaLocation="data-complex-type.xsd"/>
   <xs:import namespace="http://multi-object-complex-type"
              schemaLocation="multi-object-complex-type.xsd"/>
   <xs:complexType name="MoveComplexType">
      <xs:annotation>
         <xs:documentation>Captures data relevant to move events, e.g. moving a file from one folder/device to another.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Source" type="MultiObjectComplexType:MultiObjectComplexType">
            <xs:annotation>
               <xs:documentation>The source of the data being moved.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Destination" type="MultiObjectComplexType:MultiObjectComplexType">
            <xs:annotation>
               <xs:documentation>The destination for the data being moved.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0"
                     name="Outcome"
                     type="CopyMoveOutcomeComplexType:CopyMoveOutcomeComplexType">
            <xs:annotation>
               <xs:documentation>Used to determine if the move was successful. If omitted it is assumed that the move was successful and was permitted.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded"
                     minOccurs="0"
                     name="Data"
                     type="DataComplexType:DataComplexType">
            <xs:annotation>
               <xs:documentation>Any other event data that does not fit into a schema element but may be useful for the purpose of audit.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
 