event-logging-transformer-main/pipelines/generated/event-logging-v4/network-outcome-complex-type.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:MultiObjectComplexType="http://multi-object-complex-type"
           xmlns:OutcomeComplexType="http://outcome-complex-type"
           xmlns:NetworkLocationComplexType="http://network-location-complex-type"
           xmlns:DataComplexType="http://data-complex-type"
           elementFormDefault="qualified"
           id="network-outcome-complex-type-v4.0.2"
           targetNamespace="http://network-outcome-complex-type"
           version="4.0.2">
   <xs:import namespace="http://data-complex-type"
              schemaLocation="data-complex-type.xsd"/>
   <xs:import namespace="http://multi-object-complex-type"
              schemaLocation="multi-object-complex-type.xsd"/>
   <xs:import namespace="http://network-location-complex-type"
              schemaLocation="network-location-complex-type.xsd"/>
   <xs:import namespace="http://outcome-complex-type"
              schemaLocation="outcome-complex-type.xsd"/>
   <xs:complexType name="NetworkOutcomeComplexType">
      <xs:annotation>
         <xs:documentation>A type to describe some activity on a network along with the outcome of that activity.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Source"
                     type="NetworkLocationComplexType:NetworkLocationComplexType">
            <xs:annotation>
               <xs:documentation>The source device that is attempting the network action.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0"
                     name="Destination"
                     type="NetworkLocationComplexType:NetworkLocationComplexType">
            <xs:annotation>
               <xs:documentation>The destination device for the network action.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ProcessName" type="xs:string">
            <xs:annotation>
               <xs:documentation>The name of the process responsible for the network action.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0"
                     name="Payload"
                     type="MultiObjectComplexType:MultiObjectComplexType">
            <xs:annotation>
               <xs:documentation>If the network action is related to message transfer from one place to another then this element describes the message.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Rule" type="xs:string">
            <xs:annotation>
               <xs:documentation>The network boundary filter rule that was fired to generate this event.</xs:documentation>
            </xs:annotation>
         </xs:element>
               <xs:element minOccurs="0"
                     name="Outcome"
                     type="OutcomeComplexType:OutcomeComplexType">
                  <xs:annotation>
                     <xs:documentation>Used to determine if the action was successful. If omitted it is assumed that the event was successful and was permitted.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded"
                     minOccurs="0"
                     name="Data"
                     type="DataComplexType:DataComplexType">
                  <xs:annotation>
                     <xs:documentation>Any other event data that does not fit into a schema element but may be useful for the purpose of audit.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
   </xs:complexType>
</xs:schema>
 