event-logging-transformer-main/pipelines/generated/event-logging-v4/receive-complex-type.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:MultiObjectComplexType="http://multi-object-complex-type"
           xmlns:OutcomeComplexType="http://outcome-complex-type"
           xmlns:DataComplexType="http://data-complex-type"
           xmlns:DeviceComplexType="http://device-complex-type"
           xmlns:UserComplexType="http://user-complex-type"
           elementFormDefault="qualified"
           id="receive-complex-type-v4.0.2"
           targetNamespace="http://receive-complex-type"
           version="4.0.2">
   <xs:import namespace="http://data-complex-type"
              schemaLocation="data-complex-type.xsd"/>
   <xs:import namespace="http://device-complex-type"
              schemaLocation="device-complex-type.xsd"/>
   <xs:import namespace="http://multi-object-complex-type"
              schemaLocation="multi-object-complex-type.xsd"/>
   <xs:import namespace="http://outcome-complex-type"
              schemaLocation="outcome-complex-type.xsd"/>
   <xs:import namespace="http://user-complex-type"
              schemaLocation="user-complex-type.xsd"/>
   <xs:complexType name="ReceiveComplexType">
      <xs:annotation>
         <xs:documentation>Describes the action of receiving an object or entity, e.g. receiving a push notification.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Source">
            <xs:annotation>
               <xs:documentation>The initiator(s) of the object or resource sent or received. An initiator can be a user and/or device.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:annotation>
                  <xs:documentation>The initiator(s) of the object or resource sent or received. An initiator can be a user and/or device.</xs:documentation>
               </xs:annotation>
               <xs:choice maxOccurs="unbounded">
                  <xs:element name="User" type="UserComplexType:UserComplexType">
                     <xs:annotation>
                        <xs:documentation>The user that sent the payload.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="Device" type="DeviceComplexType:DeviceComplexType">
                     <xs:annotation>
                        <xs:documentation>The device that sent the payload.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:choice>
            </xs:complexType>
         </xs:element>
         <xs:element name="Destination">
            <xs:annotation>
               <xs:documentation>The destination(s) of the object or resource sent or received. A destination can be a user and/or device.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:annotation>
                  <xs:documentation>The destination(s) of the object or resource sent or received. A destination can be a user and/or device.</xs:documentation>
               </xs:annotation>
               <xs:choice maxOccurs="unbounded">
                  <xs:element name="User" type="UserComplexType:UserComplexType">
                     <xs:annotation>
                        <xs:documentation>The user that the payload is being sent to</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="Device" type="DeviceComplexType:DeviceComplexType">
                     <xs:annotation>
                        <xs:documentation>The device that the payload is being sent to</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:choice>
            </xs:complexType>
         </xs:element>
         <xs:element minOccurs="0"
                     name="Payload"
                     type="MultiObjectComplexType:MultiObjectComplexType">
            <xs:annotation>
               <xs:documentation>If the network action is related to message transfer from one place to another then this element describes the message.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0"
                     name="Outcome"
                     type="OutcomeComplexType:OutcomeComplexType">
            <xs:annotation>
               <xs:documentation>Used to determine if the action was successful. If omitted it is assumed that the event was successful and was permitted.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded"
                     minOccurs="0"
                     name="Data"
                     type="DataComplexType:DataComplexType">
            <xs:annotation>
               <xs:documentation>Any other event data that does not fit into a schema element but may be useful for the purpose of audit.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
 