event-logging-transformer-main/pipelines/generated/event-logging-v4/software-complex-type.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:DataComplexType="http://data-complex-type"
           elementFormDefault="qualified"
           id="software-complex-type-v4.0.2"
           targetNamespace="http://software-complex-type"
           version="4.0.2">
   <xs:import namespace="http://data-complex-type"
              schemaLocation="data-complex-type.xsd"/>
   <xs:complexType name="SoftwareComplexType">
      <xs:annotation>
         <xs:documentation>Used to describe a software asset.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="Id" type="xs:string">
            <xs:annotation>
               <xs:documentation>An identifier for the software asset.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Name" type="xs:string">
            <xs:annotation>
               <xs:documentation>The name of the software product.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Version" type="xs:string">
            <xs:annotation>
               <xs:documentation>The version of the software product, e.g. v3.1.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Manufacturer" type="xs:string">
            <xs:annotation>
               <xs:documentation>The manufacturer of the software product, e.g. Borland</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded"
                     minOccurs="0"
                     name="Data"
                     type="DataComplexType:DataComplexType">
            <xs:annotation>
               <xs:documentation>Any other event data that does not fit into a schema element but may be useful for the purpose of audit.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
 