event-logging-transformer-main/pipelines/generated/event-logging-v4/update-complex-type.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:MultiObjectComplexType="http://event-logging/multi-object-complex-type"
           xmlns:OutcomeComplexType="http://event-logging/outcome-complex-type"
           xmlns:DataComplexType="http://event-logging/data-complex-type"
           elementFormDefault="qualified"
           id="update-complex-type-v4.0.2"
           targetNamespace="http://event-logging/update-complex-type"
           version="4.0.2">
   <xs:import namespace="http://event-logging/data-complex-type"
              schemaLocation="data-complex-type.xsd"/>
   <xs:import namespace="http://event-logging/multi-object-complex-type"
              schemaLocation="multi-object-complex-type.xsd"/>
   <xs:import namespace="http://event-logging/outcome-complex-type"
              schemaLocation="outcome-complex-type.xsd"/>
   <xs:complexType name="UpdateComplexType">
      <xs:annotation>
         <xs:documentation>Describes the update/modification/change to a file, object, entity, piece of data, etc.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0"
                     name="Before"
                     type="MultiObjectComplexType:MultiObjectComplexType">
            <xs:annotation>
               <xs:documentation>Describes the state of one or more object properties before it was changed.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="After" type="MultiObjectComplexType:MultiObjectComplexType">
            <xs:annotation>
               <xs:documentation>Describes the state of one or more object properties after it was changed.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0"
                     name="Outcome"
                     type="OutcomeComplexType:OutcomeComplexType">
            <xs:annotation>
               <xs:documentation>Used to determine if the action was successful. If omitted it is assumed that the event was successful and was permitted.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded"
                     minOccurs="0"
                     name="Data"
                     type="DataComplexType:DataComplexType">
            <xs:annotation>
               <xs:documentation>Any other event data that does not fit into a schema element but may be useful for the purpose of audit.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
 